:root {
  --primari-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primari-write-color: #f5f5f5;
  --additional-background-color: #f5f4fa;
  --white: #ffffff;
  --services: #2f303a;
  --black: #000000;
}

/* index */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
  background-color: var(--white);
}

h2,
h3 {
  color: var(--title-text-color);
}

.header {}

.header-nav {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  font-family: "Raleway", cursive;
  text-decoration: none;
  color: var(--black);
}

.logo-desc {
  color: var(--accent-color);
}

.header-mailto {
  display: flex;
  margin-left: auto;
}

.header-mailto .item+.item {
  margin-left: 50px;
}

.mailto {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primari-text-color);
}

.mailto:hover,
.mailto:focus {
  color: var(--accent-color);
}

.social-links {
  margin-left: 93px;
  display: flex;

}

.social-links .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

.social-links .link:hover,
.social-links .link:focus {
  color: var(--accent-color);
}

.social-links .link.current {
  display: flex;
  color: var(--accent-color);
}

.item+.item {
  margin-left: 50px;
}

.hero {
  margin-top: 0;
  margin-bottom: 94px;
  padding: 200px 0;
  text-align: center;
}

.services {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white);
}

.button.services {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--accent-color);
}

/* section */

.hero {
  background-color: var(--services);
}

ul {
  list-style: none;
}

.section-features {
  margin-top: 0;
  margin-bottom: 94px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.peculiarity {
  display: flex;
}

.peculiarit .item+.item {
  margin-left: 30px;
}


.section-caption {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.features-text {
  margin-top: 0;
  margin-bottom: 0px;
}

.section-products {
  margin-top: 0;
  margin-bottom: 94px;
}

.section-products img,
.section-portfolio img {
  width: 370px;
}

.imges {
  display: flex;
}

.imges .item+.item {
  margin-left: 30px;
}


.section-team {
  margin-top: 0;
  margin-bottom: 0;
  padding: 94px 215px;
  letter-spacing: 0.03em;
  background-color: var(--additional-background-color);
}

.section-team img {
  width: 270px;
}

.command {
  display: flex;
}

.command .item+.item {
  margin-left: 30px;
}

.section-user {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.seclion-specialty {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

/* footer */
.footer {
  padding: 60px 0;
  letter-spacing: 0.03em;
  background-color: var(--services);
}

.logo-footer {
  color: var(--white);
}

.address {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: var(--white);
}

.address-mailto {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.mailto-footer {
  margin-top: 0;
  margin-bottom: 9px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.mailto-footer:hover,
.mailto-footer:focus {
  color: var(--accent-color);
}

/* portfolio */

.portfolio {
  padding: 94px 0;

}

.works {
  display: flex;
  justify-content: center;
}

.works .item+.item {
  margin-left: 8px;
}

.button.filter.first {
  padding: 6px 25px;
}

.button.filter {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--additional-background-color);
}

.button.filter:hover,
.button.filter:focus {
  color: var(--white);
  background-color: var(--accent-color);
}

.portfolio {
  text-decoration: none;
}

.section-portfolio {
  display: flex;
  flex-wrap: wrap;

}

.section-portfolio .item {
  width: 370px;
  margin-left: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
}

.section-portfolio .item:nth-child(3n) {
  margin-right: 0;
}

.section-portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.section-work {
  margin: 20px 24px 4px 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.section-project {
  margin: 0 24px 20px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
}