:root {
  --primari-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primari-write-color: #f5f5f5;
  --additional-background-color: #f5f4fa;
  --white: #ffffff;
  --services: #2f303a;
  --black: #000000;
}

/* index */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
  background-color: var(--white);
}

h2,
h3 {
  color: var(--title-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  font-family: "Raleway", cursive;
  text-decoration: none;
  color: var(--black);
}

.logo-desc {
  color: var(--accent-color);
}

.container-mailto {
  margin-top: 0;
  margin-bottom: 0;
}

.mailto {
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primari-text-color);
}

.mailto:hover,
.mailto:focus {
  color: var(--accent-color);
}

.social-links .link {
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

.social-links .link:hover,
.social-links .link:focus {
  color: var(--accent-color);
}

.social-links .link.current {
  color: var(--accent-color);
}

.services {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white);
}

.button.services {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--accent-color);
}

/* section */

.hero {
  padding:200px 452px;
  text-align: center;
  background-color: var(--services);
}

ul {
  list-style: none;
}

.section-features {
  padding: 0 215px 94px 215px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.section-caption {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.features-text {
  margin-top: 0;
  margin-bottom: 10px;  
}

.section-products {
  padding: 0 215px 94px 215px;
}

.section-products img,
.section-portfolio img {
  width: 370px;
}

.section-team {
  padding: 94px 215px 94px 215px;
  letter-spacing: 0.03em;
  background-color: var(--additional-background-color);
}

.section-team img {
  width: 270px;
}

.section-user {
  margin-top: 10;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.seclion-specialty {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* footer */
.footer {
  padding: 60px 215px 60px 215px;
  letter-spacing: 0.03em;
  background-color: var(--services);
}

.logo-footer {
  color: var(--white);
}

.address {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: var(--white);
}

.mailto-footer {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.mailto-footer:hover,
.mailto-footer:focus {
  color: var(--accent-color);
}

/* portfolio */

.filter {
  padding: 94px 512px;  
}

.button-filter {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--additional-background-color);
}

.button.filter:hover,
.button.filter:focus {
  color: var(--white);
  background-color: var(--accent-color);
}

.portfolio {
  text-decoration: none;
}

.section-work {
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.section-project {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
}
